*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



/*CSS HEADER*/

header{
    /*max-width: 480px;*/
    margin: 0 auto;
    /*height: 60px;*/
    background-color: #0084FD;
    padding: .7rem 1rem;
}

.flex{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.fa-bars{
    filter:invert() ;
    font-size:30px;
}


/*CSS MAIN*/

/*footer ,
main{
    max-width: 400px;
    margin: 0 auto;
}*/

.column,.colums-purple-card,.third-section{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap
}


.cards{
    border: 2px solid magenta;
    padding: 0 2rem;
    margin-bottom:1rem;
    background-color: #B5DDFF;
}


.card{
    height: 200px;
}

img{
    width: 100%;
}


.col{
    border:2px solid magenta;
    height: 300px;
    border-radius: 10%;
}

.container-col{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius:10%
}

.border{
    border-radius:10%;
}


.purple{
    background-color:#9792E4;
}

.text-center{
    text-align: center;
}

.image{
    border-radius: 50%;
    width:50%;
}

.flex-center{
    display:flex;
    justify-content: center;
}

.bg-black{
    background-color: #333333;
    height:100px
}

.spaziatura{
    margin-top:4rem
}




/*RESPONSIVE TABLET*/

@media screen and (min-width:768px){
    header{
        /*max-width: 768px;*/
        margin: 0 auto;
        /*height: 60px;*/
        background-color: #0084FD;
        padding: .7rem 1rem;
    }
    .column-top,.third-section{
        display:flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap:wrap;
    }

    .second-column{
        display:flex;
        flex-direction: column;
    }

    main{
    max-width: 730px;
    margin: 0 auto;
}

.columns{
    width: calc(100% / 3 - 2rem);
    margin: 0 1rem;
}

.columns:first-child{
    width: calc(100% / 3 * 2 - 2rem);
}
.columns-third{
    width: calc(100% / 2);
    margin-top:1rem;
}
}



@media screen and (min-width:992px){

    
    .colums-purple-card{
        display: flex;
        flex-direction: row;
    }

    .first-column{
        width: 60%;
    }

    .second-column{
        width: 40%;
    }
    .columns-third{
        width: calc(100% / 3);
        margin-top:1rem;
    }
    
    main{
        max-width: 950px;
        margin: 0 auto;
    }
    footer{
        width: 100%;
    }

    .main{
        max-width: 930px;
        margin: 0 auto;
    }

    .container-header{
        width: 70%;
        margin:0 auto;
    }

    .first-image{
        width:50% ;
    }
}
